# Variable Assigment

In [36]:
x = 5   #This is an integer

In [37]:
x

5

# Hello this is Markdown
## This is Header 2
### This is Header 3

Regular Text

**Bold Text**

**Italic**

This is how you bullet

* Hello
* hi
* Hullo

1. Point
2. Point

## Integer

In [38]:
type(x)

int

## Float

In [39]:
y = 5.0
print(type(y))
y

<class 'float'>

5.0

## String

In [40]:
z = "Goodbye Hello" 
z = 'Goodbyee Hello'
z = """Multiline qoute
fff
fff
f
f
f
"""
z

'Multiline qoute\nfff\nfff\nf\nf\nf\n'

In [48]:
qoute = "\"I think, therefore I am\" - Rene Descartes"
qoute1 = '"I thinke, therefore I am" - Rene Descartes'
qoute2 = "\"I think, there\nfore I am\" - Rene Descartes"
print(qoute1)
print(qoute)
print(qoute2)

"I thinke, therefore I am" - Rene Descartes
"I think, therefore I am" - Rene Descartes
"I think, there
fore I am" - Rene Descartes

In [47]:
backlash = "how do you print a \\"
print(backlash)

how do you print a \

In [51]:
long_string = "long_string_here_it_is"
print(long_string[:15])
print(long_string[11:])
#This is called slicing and is used a lot with lists.
#This could be used when you have table and only want first 3 charachters from that table.

long_string_her
_here_it_is

## Boolean

In [52]:
boolean = True
another_boolean = False
not_a_boolean = 'True'

a = 1
b = 1

a == b

True

## Non-Primitive Data Types

In [63]:
a_list = [1, 2, 3, 4, 5, 6, 7, "asdf"]
a_list

[1, 2, 3, 4, 5, 6, 7, 'asdf']

In [66]:
a_list[::-2]

['asdf', 6, 4, 2]

In [67]:
a_tuple = (1,2,3,4,5)
a_tuple

(1, 2, 3, 4, 5)

In [68]:
a_tuple[::-1]

(5, 4, 3, 2, 1)

In [77]:
dictionary = {"key":"value", "another":"value"}
dictionary["key"]
dictionary.get ("key")

'value'

In [78]:
add = 2 + 2
add

4

In [79]:
add_str = "str" + "str"
add_str

'strstr'

In [80]:
add_list = [1,2,3,4] + [1,2,3]
add_list
#You cannot subtrack numbers.

[1, 2, 3, 4, 1, 2, 3]

In [81]:
add_tupple = (1,2,3,4) + (1,2,4)
add_tupple

(1, 2, 3, 4, 1, 2, 4)

In [82]:
mult = 3 * 2
mult

6

In [83]:
mult = "str" * 3
mult

'strstrstr'

In [84]:
mult_list = [1,2,3] * 3
mult_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [86]:
div = 2/2
div

1.0

In [87]:
zero_div = 3/0
zero_div

ZeroDivisionError: division by zero

In [88]:
modulo = 10%3
modulo

1

In [89]:
floor_divison = 7//2
floor_divison

3

In [90]:
print(3 == 3) # Equals

print(3 != 4) # Does not equal

print(3 > 4) # Greater than

print(3 < 5) # Less than

print(2 >= 2) # Greater than or equal to

print(4 <= 4) # Less than or equal to

True
True
False
True
True
True

In [91]:
3 == 3 and 2 <= 5 # Returns true if both operations are true
3 == 3 or 2 <= 1 # Returns true if one operation is true
not(3 == 3 and 2 <= 5) # Returns the opposite (False in this case)

False

In [92]:
"z" not in ["a", 123, 14, 41, 41, 4]

True

In [93]:
"T" in "TRDFSADFASD"

True

In [94]:
"1" in "TRDFSADFASD"

False

In [95]:
int(5.0)

5

In [96]:
float(21)

21.0

In [97]:
def our_function(x,y,z):
    return x + y + z

In [99]:
our_function(6,8,53)

67

In [110]:
our_function(1,y=2,z=3)

6

In [4]:
import numpy as np

In [7]:
np.array([1,2,4])

array([1, 2, 4])

In [14]:
the_list = range(3,100)
for i in the_list:
    print("i is now", i)
    i+= 1
    print("output is", i)
print("Loop has ended")

i is now 3
output is 4
i is now 4
output is 5
i is now 5
output is 6
i is now 6
output is 7
i is now 7
output is 8
i is now 8
output is 9
i is now 9
output is 10
i is now 10
output is 11
i is now 11
output is 12
i is now 12
output is 13
i is now 13
output is 14
i is now 14
output is 15
i is now 15
output is 16
i is now 16
output is 17
i is now 17
output is 18
i is now 18
output is 19
i is now 19
output is 20
i is now 20
output is 21
i is now 21
output is 22
i is now 22
output is 23
i is now 23
output is 24
i is now 24
output is 25
i is now 25
output is 26
i is now 26
output is 27
i is now 27
output is 28
i is now 28
output is 29
i is now 29
output is 30
i is now 30
output is 31
i is now 31
output is 32
i is now 32
output is 33
i is now 33
output is 34
i is now 34
output is 35
i is now 35
output is 36
i is now 36
output is 37
i is now 37
output is 38
i is now 38
output is 39
i is now 39
output is 40
i is now 40
output is 41
i is now 41
output is 42
i is now 42
output is 43
i is now 43
output is 44
i is now 44
output is 45
i is now 45
output is 46
i is now 46
output is 47
i is now 47
output is 48
i is now 48
output is 49
i is now 49
output is 50
i is now 50
output is 51
i is now 51
output is 52
i is now 52
output is 53
i is now 53
output is 54
i is now 54
output is 55
i is now 55
output is 56
i is now 56
output is 57
i is now 57
output is 58
i is now 58
output is 59
i is now 59
output is 60
i is now 60
output is 61
i is now 61
output is 62
i is now 62
output is 63
i is now 63
output is 64
i is now 64
output is 65
i is now 65
output is 66
i is now 66
output is 67
i is now 67
output is 68
i is now 68
output is 69
i is now 69
output is 70
i is now 70
output is 71
i is now 71
output is 72
i is now 72
output is 73
i is now 73
output is 74
i is now 74
output is 75
i is now 75
output is 76
i is now 76
output is 77
i is now 77
output is 78
i is now 78
output is 79
i is now 79
output is 80
i is now 80
output is 81
i is now 81
output is 82
i is now 82
output is 83
i is now 83
output is 84
i is now 84
output is 85
i is now 85
output is 86
i is now 86
output is 87
i is now 87
output is 88
i is now 88
output is 89
i is now 89
output is 90
i is now 90
output is 91
i is now 91
output is 92
i is now 92
output is 93
i is now 93
output is 94
i is now 94
output is 95
i is now 95
output is 96
i is now 96
output is 97
i is now 97
output is 98
i is now 98
output is 99
i is now 99
output is 100
Loop has ended

for loop: very useful, if it doesn't make sense just break it down and go over a couple of times. to read files from a directory, a simple way to handle all kind of tasks
in python.

In [15]:
x = 0
while x < 5:
    x += 1
    print(x)

1
2
3
4
5

In [17]:
x = 7
y = 5

if x == y:
    print("x equals y")
elif x > y:
    print("x is greater than y")
else: 
    print("x is less than y")

x is greater than y

In [18]:
2/6

0.3333333333333333

In [19]:
2/0

ZeroDivisionError: division by zero

In [20]:
try: 2/0
except ZeroDivisionError:
    print("Can't divide by 0")

Can't divide by 0